docs/n8n-workflows/iaudit_check_vencimentos.json
{
  "name": "IAudit - Verificar Vencimentos CNDs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-check-vencimentos",
      "name": "Schedule Trigger (Diário 07:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/functions/v1/check-cnd-vencimentos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "check-vencimentos",
      "name": "Verificar Vencimentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-result",
      "name": "Verificar Resultado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.alertas_enviados }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "check-alertas",
      "name": "Tem Alertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/rest/v1/logs_automacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0a25hZWl5a3JmanJ6Z3Zza3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTk0NTQsImV4cCI6MjA4NTg5NTQ1NH0.VgXbpEiwtYqbUhJg6ET4JMrxckjI5tg1m6svQdLbzuE"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_n8n\": \"iaudit_check_vencimentos\",\n  \"acao\": \"verificacao_vencimentos_diaria\",\n  \"status\": \"sucesso\",\n  \"mensagem\": \"Verificação concluída: {{ $json.cnds_verificadas }} CNDs verificadas, {{ $json.alertas_enviados }} alertas enviados\",\n  \"dados_retorno\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "log-verificacao",
      "name": "Log Verificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/rest/v1/logs_automacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0a25hZWl5a3JmanJ6Z3Zza3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTk0NTQsImV4cCI6MjA4NTg5NTQ1NH0.VgXbpEiwtYqbUhJg6ET4JMrxckjI5tg1m6svQdLbzuE"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_n8n\": \"iaudit_check_vencimentos\",\n  \"acao\": \"verificacao_vencimentos_diaria\",\n  \"status\": \"erro\",\n  \"erro_detalhes\": {{ JSON.stringify($json.error || $json) }}\n}",
        "options": {}
      },
      "id": "log-erro-verificacao",
      "name": "Log Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 400]
    }
  ],
  "connections": {
    "Schedule Trigger (Diário 07:00)": {
      "main": [
        [{ "node": "Verificar Vencimentos", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Vencimentos": {
      "main": [
        [{ "node": "Verificar Resultado", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Resultado": {
      "main": [
        [{ "node": "Tem Alertas?", "type": "main", "index": 0 }],
        [{ "node": "Log Erro", "type": "main", "index": 0 }]
      ]
    },
    "Tem Alertas?": {
      "main": [
        [{ "node": "Log Verificação", "type": "main", "index": 0 }],
        [{ "node": "Log Verificação", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "IAudit" },
    { "name": "Alertas" },
    { "name": "Vencimentos" }
  ],
  "triggerCount": 1
}
