docs/n8n-workflows/iaudit_cnd_estadual.json
{
  "name": "IAudit - Consulta CND Estadual (SEFAZ)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 1,15 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-estadual",
      "name": "Schedule Trigger (Quinzenal)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/rest/v1/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,cnpj,company_name,state,state_registration,is_active"
            },
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "state",
              "value": "not.is.null"
            },
            {
              "name": "state_registration",
              "value": "not.is.null"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0a25hZWl5a3JmanJ6Z3Zza3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTk0NTQsImV4cCI6MjA4NTg5NTQ1NH0.VgXbpEiwtYqbUhJg6ET4JMrxckjI5tg1m6svQdLbzuE"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-clients-estadual",
      "name": "Buscar Empresas com IE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state?.toLowerCase() }}",
              "operation": "equals",
              "value2": "pr"
            }
          ]
        }
      },
      "id": "filter-pr",
      "name": "Filtrar PR (suportado)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "split-batches-estadual",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [840, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/functions/v1/consulta-cnd",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "tipo",
              "value": "estadual"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "consulta-estadual",
      "name": "Consultar CND Estadual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-rate-limit-estadual",
      "name": "Aguardar (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1280, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/rest/v1/logs_automacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0a25hZWl5a3JmanJ6Z3Zza3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTk0NTQsImV4cCI6MjA4NTg5NTQ1NH0.VgXbpEiwtYqbUhJg6ET4JMrxckjI5tg1m6svQdLbzuE"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_n8n\": \"iaudit_cnd_estadual\",\n  \"acao\": \"consulta_cnd_estadual_batch\",\n  \"status\": \"sucesso\",\n  \"mensagem\": \"Workflow CND Estadual executado\",\n  \"infosimples_creditos\": {{ $json.creditos_usados || 0 }}\n}",
        "options": {}
      },
      "id": "log-estadual",
      "name": "Log Execução",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dtknaeiykrfjrzgvskvz.supabase.co/rest/v1/logs_automacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0a25hZWl5a3JmanJ6Z3Zza3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzMTk0NTQsImV4cCI6MjA4NTg5NTQ1NH0.VgXbpEiwtYqbUhJg6ET4JMrxckjI5tg1m6svQdLbzuE"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceRoleKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_n8n\": \"iaudit_cnd_estadual\",\n  \"acao\": \"empresa_uf_nao_suportada\",\n  \"status\": \"info\",\n  \"mensagem\": \"Estado {{ $json.state }} não suportado para consulta automática\"\n}",
        "options": {}
      },
      "id": "log-uf-nao-suportada",
      "name": "Log UF Não Suportada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 400]
    }
  ],
  "connections": {
    "Schedule Trigger (Quinzenal)": {
      "main": [
        [{ "node": "Buscar Empresas com IE", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Empresas com IE": {
      "main": [
        [{ "node": "Filtrar PR (suportado)", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar PR (suportado)": {
      "main": [
        [{ "node": "Split in Batches", "type": "main", "index": 0 }],
        [{ "node": "Log UF Não Suportada", "type": "main", "index": 0 }]
      ]
    },
    "Split in Batches": {
      "main": [
        [{ "node": "Consultar CND Estadual", "type": "main", "index": 0 }]
      ]
    },
    "Consultar CND Estadual": {
      "main": [
        [{ "node": "Aguardar (Rate Limit)", "type": "main", "index": 0 }]
      ]
    },
    "Aguardar (Rate Limit)": {
      "main": [
        [{ "node": "Log Execução", "type": "main", "index": 0 }]
      ]
    },
    "Log Execução": {
      "main": [
        [{ "node": "Split in Batches", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "IAudit" },
    { "name": "CND Estadual" },
    { "name": "SEFAZ" }
  ],
  "triggerCount": 1
}
